footer {
    background-color: #00aa00;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 0;
    text-align: center;
    margin-top: 200px;
}

.column {
    width: 25%;
    text-align: center;
}

h3 {
    font-weight: bold;
}

.column p:first-child {
    font-weight: bold;
}
