.header{

    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
}

#btn_doar_agora{
    background-color: #00aa00;
    border-radius: 5px;
    color: white;
}